
.experience-content {
  display: flex;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.experience {
  border: 1px solid var(--secondary-color);

  padding: 20px 20px 20px 20px;

  .experience-header {
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    font-family: 'Figtree', sans-serif;
    font-size: 18px;
    color: var(--font-color);
    margin: 0;
  }
  
  .date {
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    color: var(--primary-color);
    margin: 0;
  }
  
  .company {
    font-family: 'Figtree', sans-serif;
    margin-top: 5px;
    font-size: 14px;
    color: var(--secondary-color);
    
  }
  
  ul {
    font-family: 'Figtree', sans-serif;
    color: var(--font-color);
    font-size: 14px;
    margin-bottom: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
}

.experience:hover {
  border-color: var(--primary-color);
}


.journey-dots {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 31%;
}

.journey-dots::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 15%;
  height: 70%;
  border-left: 1px solid var(--secondary-color);
  z-index: 0;
}

.dot-ex {
  width: 20px;
  height: 20px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  z-index: 1;
}

.dot-ex.active {
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
}

.experience-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
  border: 1px solid var(--secondary-color);
}

@media screen and (max-width: 1200px) {
  .experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 16px !important;
  }
  .date{
    font-size: 11px !important;
  }

  .company {
    font-size: 11px !important;
  }

  .experiences {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
  }

  ul {
    font-size: 12px !important;
  }

  .experience {
    border: 1px solid var(--secondary-color);
    padding: 15px;
    max-width: 100%;
  }

  .journey-dots {
    display: none;
  }
  
  .experience-image {
    display: none;
  }
}