.nav-bar {
  font-family: 'Figtree', sans-serif;
  background: var(--background-color);
  width: 92px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  border-right: 2px solid var(--secondary-color);

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 24px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 20.625rem;
    top: 50%;
    margin-top: -11.25rem;
    width: 100%;

    a {
      font-family: 'Figtree', sans-serif;
      font-size: 1.625rem;
      color: var(--secondary-color);
      display: block;
      line-height: 55px;
      height: 55px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: var(--primary-color);

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: .75rem;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }

    a.home-link {
      &:after {
        content: 'HOME';
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.experience-link {
      &:after {
        content: 'HISTORY';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.projects-link {
      &:after {
        content: 'PROJECTS';
      }
    }

    a.active {
      svg {
        color: var(--primary-color);
      }
    }
  }
}

.hamburger-button, .close-button {
  display: none;
}

.arrow {
  position: fixed;
  bottom: 1.25rem;
  right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 80px;
}

.Date {
  position: fixed;
  bottom: 36px;
  right: 40px;
  font-size: .875rem;
  color: var(--secondary-color);
}

.line1 {
  width: 50px;
  border-bottom: 2px solid var(--secondary-color);
  transform: rotate(90deg);
}


.line2,
.line3 {
  width: 0.625rem;
  border-bottom: 2px solid var(--secondary-color);
  position: absolute;
}

.line2 {
  transform: rotate(45deg);
  top: 78%;
  left: 30%;
}

.line3 {
  transform: rotate(-45deg);
  top: 78%;
  right: 30%;
}

.end-of-page .line2 {
  transform: none
}

.end-of-page .line3 {
  transform: none
}

@media screen and (max-width: 1200px) {
  .nav-bar {
    background: transparent;
    position: initial;
    height: auto;
    min-height: auto;
    
    ul, nav, .Date {
      display: none;
    }

    nav {
      width: 40%;
      height: 100%;
      background: var(--background-color);
      top: 0%;
      left: 60%;
      position: fixed;
      z-index: 5;
      margin: 0;
      opacity: 0;
      animation: fadeIn 0.5s;
      animation-fill-mode: forwards;
      border-left: 2px solid #333;

      a {
        font-size: 1.25rem;
        display: flex;
        justify-content: left;
        top: 5px;
        left: 0.625rem;
        align-items: center;
      }
      
      a:after {
        font-size: .75rem;
        opacity: 1;
        position: initial;
        width: auto;
        margin-left: 0.625rem;
      }

      a svg {
        opacity: 1 !important;
      }

      &.mobile-show {
        display: block;
      }
    }

    .hamburger-button, .close-button {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      top: 15px;
      right: 15px;
      cursor: pointer;
      z-index: 4;
    }

    .arrow {
      right: 0.625rem;
    }
  }
}
