.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button,.anchor-button {
    line-height: 1; 
    color: #E35336;
    font-size: 18px;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #E35336;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    &:hover {
      background: #E35336;
      color: #181818fb;
    }
  }
  
  .anchor-button {
    margin-left: -1px;
  }
  
}

@media screen and (max-width: 1200px) {
  .home-page {
    .text-zone {
      position: initial;
      width: 100%;
      text-align: center;
      transform: none;
      padding: 30px 5px 5px 5px;
      box-sizing: border-box;
    }

    .button-zone {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px;
      height: 100px;
    }

    .logo-container { 
      position: static;
      width: 100%;
      text-align: center;
      transform: none;
      padding: 15px 5px 5px 5px;
      box-sizing: border-box;
    }
  }
}
