.logo-container {
  position: absolute;
  left: 65%;
  transform: translateY(-50%);
  
  .solid-logo {
    border: 2px solid #8D8D8D;
    margin: 0;
    padding: 0;
    position: initial;
    max-width: 550px;
    width: 80%;
    opacity: 0;
    aspect-ratio: 1 / 1;
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
  }
}