.logo-container {
  z-index: 0;
  width: 400px;
  height: 400px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  .solid-logo {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    margin: auto;
    max-width: 450px;
    width: 75vw;
    height: auto;
    opacity: 0;
    aspect-ratio: 1 / 1;
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
  }
}
