.toggle-container {
    position: fixed;
    top: 0.625rem;
    right: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    z-index: 4;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: var(--secondary-color); 

    &:hover {
      transform: scale(1.1);
    }
  }


@media screen and (max-width: 1200px) {
  .toggle-container{
    left: 0.625rem;
  }

}